<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>Starter Template - Materialize</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Trip Planner</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/trips">Trips</a></li>
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li><a href="#">Navbar Link</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>

            <div class="title">
                <h1 class="header center orange-text"  th:text="${trip.title}"></h1>
                <h3>Edit Accommodation</h3>
            </div>

            <br><br>
            <div class="row">
                <form class="col s12" action="#" th:action="@{/trip/} + ${trip.id} + @{/accommodation/update/} + ${accommodation.id}" th:object="${accommodation}"
                    method="post">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="title" type="text" class="validate" th:field="*{title}">
                            <label for="title">Title</label>
                            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
                        </div>
                        <div class="input-field col s6">
                            <input id="checkIn" type="text" class="validate datepicker" th:field="*{checkIn}">
                            <label for="checkIn">Check-in Date</label>
                            <span th:if="${#fields.hasErrors('checkIn')}" th:errors="*{checkIn}"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="checkOut" type="text" class="validate datepicker" th:field="*{checkOut}">
                            <label for="checkOut">Check-out Date</label>
                            <span th:if="${#fields.hasErrors('checkOut')}" th:errors="*{checkOut}"></span>
                        </div>
                        <div class="input-field col s6">
                            <input id="price" type="number" step="0.01" class="validate" th:field="*{price}">
                            <label for="price">Price</label>
                            <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <textarea th:field="*{notes}" id="notes" class="materialize-textarea"></textarea>
                            <label for="notes">Notes</label>
                            <span th:if="${#fields.hasErrors('notes')}" th:errors="*{notes}"></span>
                        </div>
                    </div>


                    <!-- Address -->
                    <h4>Address</h4>
                    <div class="row">
                        <div class="input-field col s4">
                            <input id="civicNumber" type="number" class="validate" th:field="*{address.civicNumber}">
                            <label for="civicNumber">Civic Number</label>
                            <span th:if="${#fields.hasErrors('address.civicNumber')}" th:errors="*{address.civicNumber}"></span>
                        </div>
                        <div class="input-field col s4">
                            <input id="street" type="text" class="validate" th:field="*{address.street}">
                            <label for="street">Street</label>
                            <span th:if="${#fields.hasErrors('address.street')}" th:errors="*{address.street}"></span>
                        </div>
                        <div class="input-field col s4">
                            <input id="city" type="text" class="validate" th:field="*{address.city}">
                            <label for="city">City</label>
                            <span th:if="${#fields.hasErrors('address.city')}" th:errors="*{address.city}"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s4">
                            <select th:field="*{address.country}">
                                <option value="" disabled selected>Choose your option</option>
                                <option value="Canada">Canada</option>
                                <option value="United States">United States</option>
                                <option value="Denmark">Denmark</option>
                            </select>
                            <label>Country</label>
                            <span th:if="${#fields.hasErrors('address.country')}" th:errors="*{address.country}"></span>
                        </div>
                        <div class="input-field col s4">
                            <input id="code" type="text" class="validate" th:field="*{address.code}">
                            <label for="code">Postal Code</label>
                            <span th:if="${#fields.hasErrors('address.code')}" th:errors="*{address.code}"></span>
                        </div>
                        <div class="input-field col s2">
                            <input id="latitude" type="number" step="0.000001" class="validate" th:field="*{address.latitude}">
                            <label for="latitude">Latitude</label>
                            <span th:if="${#fields.hasErrors('address.latitude')}" th:errors="*{address.latitude}"></span>
                        </div>
                        <div class="input-field col s2">
                            <input id="longitude" type="number" step="0.000001" class="validate" th:field="*{address.longitude}">
                            <label for="longitude">Longitude</label>
                            <span th:if="${#fields.hasErrors('address.longitude')}" th:errors="*{address.longitude}"></span>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col s12">
                            <div class="input-field inline">
                                <button class="btn waves-effect waves-light" type="submit" name="action">Update
                                    Accommodation
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>


    <footer class="page-footer orange">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Company Bio</h5>
                    <p class="grey-text text-lighten-4">We are a team of college students working on this project like
                        it's our full time job. Any amount would help support and continue development on this project
                        and is greatly appreciated.</p>


                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Settings</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                        <li><a class="white-text" href="#!">Link 3</a></li>
                        <li><a class="white-text" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            </div>
        </div>
    </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/js/materialize.js"></script>
    <script src="/js/init.js"></script>

</body>

</html>