   <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 m6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">GruntMeister 5000 is a team of five 3rd and 4th year computer science students who are trying to build a good travel planner.</p>




        </div>
        <div class="col l3 m3 s12">
          <h5 class="white-text">Team <i class=" material-icons">people</i></h5>
          
          <ul>
            <li><a class="white-text" >Maryse Arseneau</a></li>
            <li><a class="white-text" >Jennifer Firsoff</a></li>
            <li><a class="white-text" >Shekhar Dewan</a></li>
            <li><a class="white-text" >Joshua Cookson</a></li>
            <li><a class="white-text" >Isaac Lee</a></li>
          </ul>
        </div>
        <div class="col l3 m3 s12">
          <h5 class="white-text">Email <i class="material-icons">email</i></h5>
          
          <ul>
            <li><a class="white-text" href="mailto:mgarseneau@mta.ca">mgarseneau@mta.ca</a></li>
            <li><a class="white-text" href="mailto:jsfirsoff@mta.ca">jsfirsoff@mta.ca</a></li>
            <li><a class="white-text" href="mailto:sdewan@mta.ca">sdewan@mta.ca</a></li>
            <li><a class="white-text" href="mailto:jacookson@mta.ca">jacookson@mta.ca</a></li>
            <li><a class="white-text" href="mailto:ilee@mta.ca">ilee@mta.ca</a></li>
          </ul>
        </div>
      </div>
    </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            </div>
        </div>
    </footer>