<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Bourgeois Travels</title>
  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/login.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
<header th:replace="header :: header">...</header>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">

    <center>
      <img class="responsive-img" style="width: 250px;" src="" />

      <h5 class="indigo-text">Please, login into your account</h5>

      <div class="container">
        <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
		 <div style="color: red" th:text="${message}"></div>
          <form class="col s12" action="#" th:action="@{/login}" method="post" name="login" >

            <div class='row'>
              <div class='input-field col s12'>
                <input class='validate' type='email' id='email' name="email" >
                <label for='email'>Enter your email</label>
              </div>
            </div>

            <div class='row'>
              <div class='input-field col s12'>
                <input class='validate' type='password' id='password' name="password" >
                <label for='password'>Enter your password</label>
              </div>
              
            </div>
            
            <br />
            <center>
              <div class='row'>
                <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Login</button>
              </div>
              <div style="color: red" th:text="${error}"></div>
            </center>
          </form>
        </div>
      </div>
      <a th:href="@{/signup}">Create account</a>
      </div>
    </center>
<br />

<div th:replace="footer :: footer">...</div>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>

  </body>
</html>