<!DOCTYPE html>
<html lang="en">

<head th:replace="import :: head">...</head>

<body>
<h4 th:text="${trip.title}"></h4>

<h5>Accommodations</h5>
<table border="0" th:each="accommodation : ${trip.accommodations}">
    <h6 th:text="${accommodation.title}"></h6>
    <td>
    <span th:text="'Check-In: ' + ${#dates.format(accommodation.checkIn, 'MMM dd, yyyy')}"></span><br/>
    <span th:text="'Check-Out: ' + ${#dates.format(accommodation.checkOut, 'MMM dd, yyyy')}"></span><br/>
    <span <span th:if="${accommodation.price != null}" th:text="'$'+${#numbers.formatDecimal(accommodation.price, 0, 'COMMA', 2, 'POINT')}"></span><br/>
    <span th:if="${!accommodation.notes.isEmpty()}" th:text="'Notes: ' + ${accommodation.notes}"></span><br/>
    <br>
     <address>
                                    <div > 
                                    <span th:text="${accommodation.address.civicNumber}" />&nbsp;<span th:text="${accommodation.address.street}" /><br>
                                    <span th:text="${accommodation.address.city}" />&nbsp;<span th:text="${accommodation.address.province}" />&nbsp;<span th:text="${accommodation.address.country}" /><br>
                                    <span th:text="${accommodation.address.code}" /></div><br>
                                    
                                    <div th:if="${accommodation.address.latitude!=null && accommodation.address.longitude!=null}">
	                                    coordinates:&nbsp;<span th:text="${accommodation.address.latitude}" />,&nbsp;<span
	                                        th:text="${accommodation.address.longitude}" /><br>
	                                    <div style="width:400px;height:300px;" th:id="@{'accommodation-map-' + ${accommodation.id}}"></div>
	                                    <script th:inline="javascript">
	                                        /*<![CDATA[*/
	                                        var map;
	                                        function initAccomMap[[${ accommodation.id }]]() {
	                                            map = new google.maps.Map(document.getElementById('accommodation-map-[[${accommodation.id}]]'), {
	                                                center: { lat: [[${ accommodation.address.latitude }]], lng: [[${ accommodation.address.longitude }]] },
	                                                zoom: 18
	                                            });
	                                        }
	                                        initAccomMap[[${ accommodation.id }]]();
							                /*]]>*/
	                                    </script>
                                    </div>
                                </address>
    </td>
</table>

<h5>Reservations</h5>
<table border="0" th:each="reservation : ${trip.reservations}">
    <h6 th:text="${reservation.title}"></h6>
    <td>
    <span th:text="'Date: ' + ${#dates.format(reservation.date, 'MMM dd, yyyy')}"></span><br/>
    <span th:if="${!reservation.confirmation.isEmpty()}" th:text="'Confirmation: ' + ${reservation.confirmation}"></span><br/>
    <span th:if="${reservation.price != null}" th:text="${#numbers.formatDecimal(reservation.price, 0, 'COMMA', 2, 'POINT')}">10.00</span></br>
    <span th:if="${!reservation.notes.isEmpty()}" th:text="'Notes: ' + ${reservation.notes}"><br/></span>
   
    <br>
     <address>
                                    <span th:text="${reservation.address.civicNumber}" />&nbsp;<span th:text="${reservation.address.street}" /><br>
                                    <span th:text="${reservation.address.city}" />&nbsp;<span th:text="${reservation.address.province}" />&nbsp;<span th:text="${reservation.address.country}" /><br>
                                    <span th:text="${reservation.address.code}" /><br>
                                    <div th:if="${reservation.address.latitude!=null && reservation.address.longitude!=null}">
                                    coordinates:&nbsp;<span th:text="${reservation.address.latitude}" />,&nbsp;<span
                                        th:text="${reservation.address.longitude}" /><br>
                                    <div style="width:400px;height:300px;" th:id="@{'map-' + ${reservation.id}}"></div>
                                    <script th:inline="javascript">
                                        /*<![CDATA[*/
                                        var map;
                                        function initMap[[${ reservation.id }]]() {
                                            map = new google.maps.Map(document.getElementById('map-[[${reservation.id}]]'), {
                                                center: { lat: [[${ reservation.address.latitude }]], lng: [[${ reservation.address.longitude }]] },
                                                zoom: 18
                                            });
                                        }
                                        initMap[[${ reservation.id }]]();
							            /*]]>*/
                                    </script>
                                    </div>
                                </address>
    </td>
</table>

<h5>Itineraries</h5>
<table border="0" th:each="itinerary : ${trip.itineraries}">
    <h6 th:text="${#dates.format(itinerary.date, 'MMM dd, yyyy')}"></h6>
    <td>
    <span th:text="${itinerary.notes}"></span><br/>
    <br>
    </td>
</table>

 <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/js/materialize.js"></script>
    <script src="/js/init.js"></script>

</body>
</html>


