<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Bourgeois Travels</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Bourgeois Travels</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/trips">Trips</a></li>
        <li><a href="/h2" target="_blank">Database</a></li>
        <li><a class='dropdown-trigger' href='#' data-target='dropdown1' data-beloworigin="true">
          <i id="user_sett" class="material-icons">account_circle</i></a></li>
        <ul id='dropdown1' class='dropdown-content'> <!-- if/unless user logged in -->
        
          <li><a th:href="@{/account/} + ${user.id}">Account</a></li>
          <li><a href="#!">Logout</a></li>
        </ul>
      </ul>

      <ul id="nav-mobile" class="sidenav">
      <li><span th:text="${user.firstName}"></span></li>
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Bourgeois Travels 1.0</h1>
      <div class="row center">
        <h5 class="header col s12 light">A minimalist modern Trip Planner</h5>
      </div>
      <div class="row center">
        <a th:href="@{/login}" id="download-button" class="btn-large waves-effect waves-light orange">Login</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
	 <div class="row">
        <div class="col s10 offset-s1">   
		 <h3 id="trips-header" class="header">Trips 
		 <a th:href="@{/add}" class="btn-floating red"><i class="material-icons">add</i></a></h3>
		 <div class="section">
		 	
		    <ul class="collection">
		        	        
		        <li class="collection-item avatar" th:each="trip : ${trips}" id="triplist">
			      <i class="material-icons circle green">insert_chart</i>
			      <a th:href="@{/trip/} + ${trip.id}"> 
			      <span th:text="${trip.title}"></span>
			      <p class="" th:text="${trip.description}"/>
			      <br>
			      <a th:href="@{/delete/} + ${trip.id}" class="secondary-content" method="delete"><i class="small material-icons">delete</i></a>
			      </a>
			    </li>
		    </ul>
		 </div>
		</div>
	</div>
</div>

<div th:replace="footer :: footer">...</div>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
