<!DOCTYPE html>
<html lang="en">
<head th:replace="import :: head">...</head>

<body>
    <header th:replace="header :: header">...</header>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Bourgeois Travels 1.0</h1>
      <div class="row center">
        <h5 class="header col s12 light">A minimalist modern Trip Planner</h5>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
	 <div class="row">
        <div class="col s10 offset-s1">   
		 <h3 id="trips-header" class="header">Trips 
		 <a th:href="@{/add}" class="btn-floating red tooltipped" data-position="bottom" data-tooltip="Add Trip"> <i class="material-icons">add</i></a></h3>
		 <div class="section">
		 	
		    <ul class="collection">
		        	        
		        <li class="collection-item avatar" th:each="trip : ${trips}" id="triplist">
			      <i class="material-icons circle green">flight_takeoff</i> 	
			      <a th:href="@{/trip/} + ${trip.id}"> 
			      <span th:text="${trip.title}"></span>
			      <p class="" th:text="${trip.description}"/>
			      <p th:text="${#dates.format(trip.start, 'MMM dd, yyyy')} +' - '+  ${#dates.format(trip.end, 'MMM dd, yyyy')}"/>
			   
			  
			      <a th:href="@{/delete/} + ${trip.id}" class="secondary-content tooltipped" data-position="bottom" data-tooltip="Delete" method="delete"><i class="small material-icons">delete</i></a>
			      </a>
			    </li>
		    </ul>
		 </div>
		</div>
	</div>
</div>

<div th:replace="footer :: footer">...</div>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
